html {
	font-size: var(--font-size-base);
	font-family:'inter';
	padding:10px;
	background-color:snow;
}

header {
	display: flex;
	justify-content: center;
	padding: 20px;
}


.grid__column-1 {
	font-family: var(--font-family-primary);
	font-size: 0.4rem;
	grid-column: 1/3;
	background-color:white;
	border:2px solid black;
	border-radius:8px;
	line-height:1.2;
	padding:20px;
	

}

.grid__column-1 li {
	align-items:center;
	list-style-type:none;
}


.grid__column-2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: snow;
	padding:10px;
	overflow:hidden;
	text-align: left;

}

.grid__column-2-image1 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: snow;
	overflow:hidden;
	
}


.grid__column-2-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: snow;
	overflow:hidden;
	padding-top: 10px;
}

.grid__column2-image3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color:snow;
	overflow:hidden;
	padding-top: 10px;
}

.grid__column2-image4 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color:snow;
	overflow:hidden;
	padding-top: 10px;
}


.grid__column-3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	padding:10px;
	overflow:hidden;
	text-align: center;
	
}


.grid__column-3-image1 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	overflow:hidden;
	
}

.grid__column-3-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	overflow:hidden;
	padding-top: 10px;
	
}

.grid__column-3-image3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	overflow:hidden;
	padding-top: 10px;
}

.grid__column-3-image4 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	overflow:hidden;
	padding-top: 10px;
}


.grid__column-4 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:snow;
	padding:10px;
	overflow:hidden;
	text-align:right;
}

.grid__column-4-image1 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:snow;
	overflow:hidden;
}

.grid__column-4-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:snow;
	overflow:hidden;
	padding-top:10px;
}

.grid__column-4-image3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:snow;
	overflow:hidden;
	padding-top:10px;
}

.grid__column-4-image4 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:snow;
	overflow:hidden;
	padding-top:10px;
}








@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}
}
