html {
	font-size: var(--font-size-base);
	font-family:'inter';
	padding:10px;
}

header {
	display: flex;
	justify-content: center;
	padding: 20px;
}


.grid__column-1 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column: 1/3;
	background-color:lightgrey;
	border:2px solid black;
	border-radius:8px;
	line-height:1.5;
	padding:20px;
	align-items:center;

}

.grid__column-1 li {
	align-items:center;
	list-style-type:none;
}


.grid__column-2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: lightgreen;
	padding:10px;
	overflow:hidden;
	justify-content:left;

}

.grid__column-2-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: lightgreen;
	overflow:hidden;
}

.grid__column2-image3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:3/6;
	background-color: lightgreen;
	
	overflow:hidden;
}



.grid__column-3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:aqua;
	padding:10px;
	overflow:hidden;
	
}


.grid__column-3-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:aqua;
	padding:5px;
	overflow:hidden;
}

.grid__column-3-image3 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:6/9;
	background-color:aqua;
	padding:5px;
	overflow:hidden;
}


.grid__column-4 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:lightpink;
	padding:10px;
	overflow:hidden;
}

.grid__column-4-image2 {
	font-family: var(--font-family-primary);
	font-size: 0.5rem;
	grid-column:9/12;
	background-color:lightpink;
	padding:10px;
	overflow:hidden;
}









@media screen and (min-width: 1920px) {
	body {
		max-width: 1920px;
		margin: 0 auto;
	}
}
